{%- extends '@Pagerfanta/twitter_bootstrap5.html.twig' -%}

{# Overriding prev and next block from @Pagerfanta/default.html.twig #}

{%- block pager_widget -%}
    <nav aria-label="navigation-mixes" class="mt-4">
        <ul class="pagination justify-content-center">
            {{- block('pager') -}}
        </ul>
    </nav>
{%- endblock pager_widget -%}

{%- block previous_page_message -%}
    {%- if options['prev_message'] is defined -%}
        {{- options['prev_message']|raw -}}
    {%- else -%}
        Previous
    {%- endif -%}
{%- endblock previous_page_message -%}

{%- block next_page_message -%}
    {%- if options['next_message'] is defined -%}
        {{- options['next_message']|raw -}}
    {%- else -%}
        Next
    {%- endif -%}
{%- endblock next_page_message -%}
